<table class="profile-table table">
                    <tr>
                        <th>Project Name</th>
                        <td ng-cloak>{{project.name}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td ng-cloak>{{project.description}}</td>
                    </tr>
                    <tr>
                        <th>Date of Publishing</th>
                        <td ng-cloak>{{project.publishDate|date:'MM/dd/yyyy @ h:mm a'}}</td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td ng-cloak>{{project.publisher}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td ng-cloak>{{project.email}}</td>
                    </tr>
                    <tr>
                        <th>Payment</th>
                        <td ng-cloak>{{project.payment}}</td>
                    </tr>
                    <tr>
                        <th>Required Skill</th>
                        <td><span ng-repeat="skill in project.requiredSkills" ng-cloak>{{skill}}{{$last ? '' : ', '}} </span></td>
                        
                    </tr>
                    <tr>
                        <th>Due Date</th>
                        <td ng-cloak>{{project.dueDate|date:'MM/dd/yyyy @ h:mm a'}}</td>
                    </tr>
                    <tr>
                        <th>Special Requirement</th>
                        <td ng-cloak>{{project.specialRequirement}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td ng-cloak>{{project.status}}</td>
                    </tr>
                    <tr>
                        <th>Tag</th>
                        <td><span ng-repeat="tag in project.tags" ng-cloak>{{tag}}{{$last ? '' : ', '}} </span></td>
                    </tr>
                </table>