.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Coding
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        if (user && (user.usertype == 3))
          li
            a(href='/admin') Admin Page
        li.dropdown(class=(title == 'Posting Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Posting Management&nbsp;
              i.caret
            ul.dropdown-menu
              if(user && !(user.usertype == 2))
                li
                  a(href='/postingManager/createpost') New Posting
                li.divider
              li
                a(href='/postingManager/viewAllPost') View All Postings
              li.divider
              li
                a(href='/postingManager/') Check My Postings
              li.divider
              li
        form.navbar-form.navbar-left(action='/postingManager/search', method='GET')
          .form-group
            input.form-control(type='text', name='id', placeholder='Search')
          button.btn.btn-default(type='submit')
            i.fa.fa-search
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
