<header id="header" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/postingManager/"><i class="fa fa-cube"></i>Easy Solutions</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-lg-7 col-md-7 col-sm-6 navbar-left">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/postingManager/viewAllPost">Find Project</a></li>
                    <li><a href='/postingManager/createpost' ng-if="user.usertype==1">Create Project</a></li>
                    </ul>
                    <form class="navbar-form navbar-left " role="search" style="width:60%">
                        <div class="input-group " style="width:100%">
                            <input type="text" class="form-control" type="button" i aria-haspopup="true" aria-expanded="true" placeholder="Search User or Project with ID" name="srch-term" id="srch-term">
                           
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                      <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"ng-if="!(isLoeggedIn())">login</a></li>
                    <li><a href="/signup"ng-if="!(isLoeggedIn())">create account</a></li>
                    <li class="dropdown" ng-if="isLoeggedIn()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                        <img ng-src="{{showPic()}}" alt=""> 
                        {{user.profile.name}}
                        <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/account">My Profile</a></li>
                            <li><a href='/postingManager/'>My Projects</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a  href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        
    </header>