<div class="container">
    <div class="row">
        <div class="col-md-9 profile-info">
            <h1 class="page-header">Profile</h1>
           <table class="profile-table table">
                <tr>
                    <th>Username</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.UserName }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.username"></input>
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.name }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.name"></input>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.email }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.email"></input>
                    </td>
                </tr>
                <tr ng-show="isProgrammer()">
                    <th>Education</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.education }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.education"></input>
                    </td>
                </tr>
                <tr ng-show="isProgrammer()">
                    <th>Experience</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.experience }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.experience"></input>
                    </td>
                </tr>
                <tr ng-show="isProgrammer()">
                    <th>Skills</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.skills }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.skills"></input>
                    </td>
                </tr>
                <tr>
                    <th>Usertype</th>
                    <td ng-show="userCtrl.isSelected(0)">{{ profile.userType }}</td>
                    <td ng-show="userCtrl.isSelected(1)">
                        <input ng-model="profile.type"></input>
                    </td>
                </tr>
                
               
            </table>
        </div>
        <div class="col-md-3" role="complementary">
            <nav class=" hidden-print hidden-xs hidden-sm affix">
                <ul class="nav ">
                    <ul class="nav">
                        <li class=""><a href="#edit-profile">edit profile</a></li>
                        <li class=""><a href="#edit-password">change password</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

