body{
    padding-top: 70px;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    overflow: hidden;
    width: 40px;
    height: 21px;
    border: none;
    text-indent: 100%;
    background: url("../images/to-top2.png") no-repeat 0px 0px;

}
/* navbar start*/
.navbar-form,.navbar-form .input-group{
    width: 100%;
}

.search-dropdown{
    background-color: white;
}
@media screen and (min-width:768px) {

    .search-dropdown{
    width:81.5%;
}
}
@media screen and (max-width:767px) {

    .search-dropdown{
    width:94%;
}
}
/*navbar end*/

/*for profile*/
*[role="complementary"]{
    padding-top: 80px;
}
.table {
    width: 80%;
}
.table th{
    width:18%;
}
.profile-table ul{
    padding-left:20px ;
}
.table th, .table td { 
     border-top: none !important; 
 }
/*profile*/

.bottom{
    margin-top: 50px;
    background:#2d2d2d;
    padding:20px 10%;
}

.bottom p {
    float: left;
    font-size: 13px;
    color:#666666;
    
}

.bottom p span {
    color: #f5f5f5;
}
