extends layout

block content
	h1 All Users
	hr
	#user
	div.container
		table.table.tablestriped
			tbody
				each val in allusers
				tr
					th.col-xs-6 #{val.profile.name}
					th.col-xs-6 #{val.email}