
    <!-- body -->
    <div class="InnerSection" style="width:70%" >
        <h2>Create Project</h2>
        <div class="create-project table">
            <div class="row"> 
                <div class="cell">
                    <p>Project Name</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Description</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Date of Publishing</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Publisher</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Email</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Payment</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Required Skill</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Due Date</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Special Requirement</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Status</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <p>Tag</p>
                </div>
                <div class="cell">
                    <input type="text">
                </div>
            </div>
            <div class="row"> 
                <div class="cell">
                    <a href="find_project.html" class="btn btn-default">Create</a>
                    <a href="find_project.html" class="btn btn-default">Reset</a>
                </div>
            </div>
        </div>

    </div>
    
    <!-- /body -->
