<!DOCTYPE html>
<html ng-app="coding">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <!-- header -->
    <nav-header></nav-header> 
    <!-- /header -->
    <!-- body -->
    <div class="container">
        <div class="row">
        <div class="col-md-9 profile-info">
            <h1 class="page-header">Profile</h1>
            <table class="profile-table table">
                <tr><th>username</th><td>ibm001</td></tr>
                 <tr><th>name</th><td>ibm</td></tr>
                  <tr><th>bio</th><td>Blue Giant</td></tr>
                <tr><th>email</th><td>needhelp@ibm.com</td></tr>
                
                <tr><th>usertype</th><td>business</td></tr>
                 
            </table>
            <!-- <p><strong>username</strong>: stevewoz1</p>
            <p><strong>usertype</strong>: programmer</p>
            <p><strong>skill</strong>: objective-C, swift, 
                C, C++, Java </p>  
            <p><strong>experience</strong>:
            <ul>
                 <li>12 years experience in Java</li>
                 <li>23 Android Apps</li>
             </ul> 
             </p>     -->          
        </div>
           
            <div class="col-md-3" role="complementary">
                <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                    <ul class="nav bs-docs-sidenav">
                        
                            <ul class="nav">
                                <li class=""><a href="#edit-profile">edit profile</a></li>
                                <li class=""><a href="#edit-email">change email address</a></li>
                                <li class=""><a href="#edit-password">change password</a></li>
                               
                            </ul>
                        </li>
                       
                      
                        
                    </ul>  </nav>
            </div>
        </div>
    </div>
    <!-- /body -->
    <!-- Supportive-JavaScript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Necessary-JS-File-For-Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
     <script src="js/angular.js" type="text/javascript"></script>
    <!-- Modules -->
    <script src="js/app.js"></script>
    <script src="js/directives/nav.js"></script>
</body>

</html>
