<!-- header -->

<!-- /header -->
<!-- body -->
<div class="container" >
    <div class="row">
        <!-- all {{project.xxx}} need to change -->
        <div class="col-md-9 profile-info">
            <h1 class="page-header">Project Detail</h1>
             <table class="profile-table table">
                    <tr>
                        <th>Project Name</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.name}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.name"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.description}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.description"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Date of Publishing</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.publishDate|date:'yyyy-MM-dd'}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input type="date" ng-model="project.publishDate"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.publisher}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.publisher"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.email}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.email"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Payment</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.payment}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.payment"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Required Skill</th>
                        <td ng-show="projectCtrl.isSelected(0)"><span ng-show="projectCtrl.isSelected(0)" ng-repeat="skill in project.requiredSkills">{{skill}}{{$last ? '' : ', '}} </span></td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.name"></input>
                        </td>
                    </tr> 
                    <tr>
                        <th>Due Date</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.dueDate|date:'yyyy-MM-dd'}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input type="date" ng-model="project.dueDate" placeholder="yyyy-MM-dd" min="new Date()"></input>
                           
                        </td>
                    </tr>
                    <tr>
                        <th>Special Requirement</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.specialRequirement}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.specialRequirement"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td ng-show="projectCtrl.isSelected(0)">{{project.status}}</td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.status"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>Tag</th>
                        <td ng-show="projectCtrl.isSelected(0)"><span ng-repeat="tag in project.tags">{{tag}}{{$last ? '' : ', '}} </span></td>
                        <td ng-show="projectCtrl.isSelected(1)">
                            <input ng-model="project.name"></input>
                        </td>
                    </tr>
                </table>
            <!-- <project-info state="projectCtrl.state" project="project"></project-info> -->
            <hr>
            <h3>Discussion Board</h3>
            <!-- project need to change -->
            <div class="discussion row col-sm-12" ng-repeat="discussion in project.discussions">
                <p ng-cloak>{{discussion.author}}: {{discussion.body}}<span>{{discussion.createdOn|date:'MM/dd/yyyy @ h:mm:ss a'}}</span></p>
            </div>
            <!-- project need to change -->
            <div class="row">
                <form name="disscussionForm" class="row col-sm-12" ng-controller="DiscussionController as disscussionCtrl" ng-keypress="disscussionForm.$valid && $event.which===13 && disscussionCtrl.addDiscussion(project)" novalidate>
                    <div class="form-group">
                        <textarea placeholder="Enter to send message" ng-model="disscussionCtrl.discussion.body" name="body" class="form-control" rows="3" required></textarea>
                    </div>
                </form>
                <br>
                <a href="find_project.html" class="btn btn-default ">Back</a>
                <a href="find_project.html" class="btn btn-primary apply">Apply</a>
            </div>
        </div>
        <!-- side bar -->
        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <ul class="nav ">
                    <ul class="nav">
                        <li class=""><a ng-show="projectCtrl.isSelected(0)" ng-click="projectCtrl.setState(1)" href="">edit project</a></li>
                        <li class=""><a ng-show="projectCtrl.isSelected(0)" href="">cancel project</a></li>
                        <li class=""><a ng-show="projectCtrl.isSelected(1)" ng-click="projectCtrl.setState(0);change()" href="">confirm</a></li>
                        <li class=""><a ng-show="projectCtrl.isSelected(1)" ng-click="projectCtrl.setState(0);reset()" href="">cancel</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!--   <footer id="footer">
        <div class="bottom clearfix">
           coding.Inc 2016
        </div>
    </footer> -->